@charset "UTF-8";

body {
    background-color: rgba(101, 198, 228, 0.637);

    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    height: 150px;
    width: 400px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    border-radius: 20px;
}

.sex {
    color: tomato;
}


h1 {
    text-align: center;
}

#comp {
    height: 400px;
    width: 400px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    border-radius: 20px;
}

#foto {
    display: block;
    margin: auto;
}

#descidade {
    text-align: center;
    font-weight: bold;
    
}